<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Zoológico</a>
    <div class="collapse navbar-collapse" id="navHome">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/select/Home">Home</a>
            </li>
        </ul>
    </div>
</nav>