<%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="/assets/styles/index.css">
<title>Zoológico - Home</title>
</head>

<body>
    <main role="main">
        <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Zóologico</a>
            <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHome" aria-controls="navHome" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button-->
            <div class="collapse navbar-collapse" id="navHome">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Sobre">Sobre</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <form>
            <div class="form-group">
                <label for="CPF">CPF</label>
                <input type="number" id="CPF" name="CPF">
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="form-group">
                <label for="ddn">Data de Nascimento</label>
                <input type="date" id="ddn" name="ddn">
            </div>
            <div class="form-group">
                <label for="Salario">Salário</label>
                <input type="number" id="Salario" name="Salario">
            </div>
            <div class="form-group">
                <label for="CLT">CLT</label>
                <input type="number" id="CLT" name="CLT">
            </div>
            <div class="form-group">
                <label for="Endereço">Endereço</label>
                <input type="text" id="Endereço" name="Endereço">
            </div>
            <div class="form-group">
                <label for="Banco">Banco</label>
                <input type="number" id="Banco" name="Banco">
            </div>
            <div class="form-group">
                <label for="Agencia">Agência</label>
                <input type="number" id="Agencia" name="Agencia">
            </div>
            <div class="form-group">
                <label for="Conta">Conta</label>
                <input type="number" id="Conta" name="Conta">
            </div>
            <div class="form-group">
                <label for="Digito">Dígito</label>
                <input type="number" id="Digito" name="Digito">
            </div>
            <div class="form-group">
                <label for="numBilheteria">Número Bilheteria</label>
                <input type="number" id="numBilheteria" name="numBilheteria">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>


</body>
<%- include('partials/foot.ejs'); %>