<%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="/assets/styles/index.css">
<title>Zoológico - Home</title>
</head>

<body>
    <main role="main">
        <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Zóologico</a>
            <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHome" aria-controls="navHome" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button-->
            <div class="collapse navbar-collapse" id="navHome">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Sobre">Sobre</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <form>
            <div class="form-group">
                <label for="codEspecie">Código da Espécie</label>
                <input type="number" id="codEspecie" name="codEspecie">
            </div>
            <div class="form-group">
                <label for="nomeCientifico">Nome Cientifico</label>
                <input type="text" id="nomeCientifico" name="nomeCientifico">
            </div>
            <div class="form-group">
                <label for="nomePopular">Nome Popular</label>
                <input type="text" id="nomePopular" name="nomePopular">
            </div>
            <div class="form-group">
                <label for="estado">Estado de Conservação</label>
                <select type="text" id="estado" name="estado">
                    <option value="LC">LC</option>
                    <option value="NT">NT</option>
                    <option value="VU">VU</option>
                    <option value="EN">EN</option>
                    <option value="CR">CR</option>
                    <option value="EW">EW</option>
                    <option value="EX">EX</option>
                    <option value="DD">DD</option>
                    <option value="NE">NE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Alimentacao">Alimentação</label>
                <textarea type="text" id="Alimentacao" name="Alimentacao"></textarea>
            </div>
            <div class="form-group">
                <label for="Descricao">Descrição</label>
                <textarea type="text" id="Descricao" name="Descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="codAla">Código da Ala</label>
                <input type="text" id="codAla" name="codAla">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>


</body>
<%- include('partials/foot.ejs'); %>