<%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="/assets/styles/index.css">
<title>Zoológico - Home</title>
</head>

<body>
    <main role="main">
        <%- include('partials/navbar.ejs') -%>

        <% if (tabela == 'Ala') { %>
        <form method='POST' action="/insereAla">
            <div class="form-group">
                <label for="cod">Código</label>
                <input type="number" id="cod" name="cod">
            </div>
            <div class="form-group">
                <label for="cod">Nome</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="form-group">
                <label for="cod">Localização</label>
                <input type="text" id="localizacao" name="localizacao">
            </div>
            <!-- Horarios ala -->
            <div class="form-group">
                <label for="horario">Horário</label>
                <input type="time" id="horario" name="horario">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>

        <% if (tabela == 'Animal') { %>
        <form method='POST' action="/insereAnimal">
            <div class="form-group">
                <label for="cod">Código</label>
                <input type="number" id="cod" name="cod">
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select type="text" id="sexo" name="sexo">
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" id="dataNascimento" name="dataNascimento">
            </div>
            <div class="form-group">
                <label for="codEspecie">Código da Espécie</label>
                <input type="text" id="codEspecie" name="codEspecie">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>

        <% if (tabela == 'Atende') { %>
        <form method='POST' action="/insereAtende">
            <div class="form-group">
                <label for="cod">Código</label>
                <input type="number" id="cod" name="cod">
            </div>
            <div class="form-group">
                <label for="CPF">CPF</label>
                <input type="number" id="CPF" name="CPF">
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data">
            </div>
            <div class="form-group">
                <label for="diagnostico">Diagnostico</label>
                <textarea type="text" id="diagnostico" name="diagnostico"></textarea>
            </div>
            <div class="form-group">
                <label for="codAnimal">Código do Animal</label>
                <input type="number" id="codAnimal" name="codAnimal">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <% } %>

        <% if (tabela == 'Bilheteria') { %>
        <form method='POST' action="/insereBilheteria">
            <div class="form-group">
                <label for="numBilheteria">Número Bilheteria</label>
                <input type="number" id="numBilheteria" name="numBilheteria">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" id="type" name="type">
            </div>

            <div class="form-group">
                <label for="horarioInicio">Horário Início</label>
                <input type="time" id="horarioInicio" name="horarioInicio">
            </div>
            <div class="form-group">
                <label for="horarioFinal">Horário Final</label>
                <input type="time" id="horarioFinal" name="horarioFinal">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>

        <% if (tabela == 'Especie') { %>
        <form method='POST' action="/insereEspecie">
            <div class="form-group">
                <label for="codEspecie">Código da Espécie</label>
                <input type="number" id="codEspecie" name="codEspecie">
            </div>
            <div class="form-group">
                <label for="nomeCientifico">Nome Cientifico</label>
                <input type="text" id="nomeCientifico" name="nomeCientifico">
            </div>
            <div class="form-group">
                <label for="nomePopular">Nome Popular</label>
                <input type="text" id="nomePopular" name="nomePopular">
            </div>
            <div class="form-group">
                <label for="estado">Estado de Conservação</label>
                <select type="text" id="estado" name="estado">
                    <option value="LC">LC</option>
                    <option value="NT">NT</option>
                    <option value="VU">VU</option>
                    <option value="EN">EN</option>
                    <option value="CR">CR</option>
                    <option value="EW">EW</option>
                    <option value="EX">EX</option>
                    <option value="DD">DD</option>
                    <option value="NE">NE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Alimentacao">Alimentação</label>
                <textarea type="text" id="Alimentacao" name="Alimentacao"></textarea>
            </div>
            <div class="form-group">
                <label for="Descricao">Descrição</label>
                <textarea type="text" id="Descricao" name="Descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="codAla">Código da Ala</label>
                <input type="text" id="codAla" name="codAla">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>

        <% if (tabela == 'Funcionario') { %>
        <form method='POST' action="/insereServicosGerais">
            <div class="form-group">
                <label for="CPF">CPF</label>
                <input type="number" id="CPF" name="CPF">
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="form-group">
                <label for="ddn">Data de Nascimento</label>
                <input type="date" id="ddn" name="ddn">
            </div>
            <div class="form-group">
                <label for="Salario">Salário</label>
                <input type="number" id="Salario" name="Salario">
            </div>
            <div class="form-group">
                <label for="CLT">CLT</label>
                <input type="number" id="CLT" name="CLT">
            </div>
            <div class="form-group">
                <label for="Endereço">Endereço</label>
                <input type="text" id="Endereço" name="Endereço">
            </div>
            <div class="form-group">
                <label for="Banco">Banco</label>
                <input type="number" id="Banco" name="Banco">
            </div>
            <div class="form-group">
                <label for="Agencia">Agência</label>
                <input type="number" id="Agencia" name="Agencia">
            </div>
            <div class="form-group">
                <label for="Conta">Conta</label>
                <input type="number" id="Conta" name="Conta">
            </div>
            <div class="form-group">
                <label for="Digito">Dígito</label>
                <input type="number" id="Digito" name="Digito">
            </div>


            

            <div class="form-group">
                <label for="funcao">Função</label>
                <select type="text" id="funcao" name="funcao" onchange="setSelected(this.value)">
                    <option value="Segurança">Segurança</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Bilheteiro">Bilheteiro</option>
                    <option value="Veterinário">Veterinário</option>
                </select>
            </div>

            <script>

                setSelected = function (elem) {
                    if (elem == 'Veterinário') {
                        return `
                        <div class="form-group">
                            <label for="CRMV">CRMV</label>
                            <input type="number" id="CRMV" name="CRMV">
            </div>
                            <div class="form-group">
                                <label for="Faculdade">Faculdade</label>
                                <input type="text" id="Faculdade" name="Faculdade">
            </div>

                                <!-- Supervisiona -->
            <div class="form-group">
                                    <label for="codEspecie">Código Especie</label>
                                    <input type="number" id="codEspecie" name="codEspecie">
            </div>`
                    }
                }

            </script>

            <% if (getSelected()) { %>

            <% } %>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>

        <% if (tabela == 'Ingresso') { %>
        <form method='POST' action="/insereIngresso">
            <div class="form-group">
                <label for="num">Número</label>
                <input type="number" id="num" name="num">
            </div>
            <div class="form-group">
                <label for="horario">Horário</label>
                <input type="time" id="horario" name="horario">
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data">
            </div>
            <div class="form-group">
                <label for="numBilheteria">Número Bilheteria</label>
                <input type="number" id="numBilheteria" name="numBilheteria">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>


    </main>


</body>
<%- include('partials/foot.ejs'); %>