<%- include('partials/head.ejs'); %>
    <link rel="stylesheet" href="/assets/styles/login.css">
    <title>Zoológico - Home</title>
</head>

<body>

    <main role="main">
        <%- include('partials/navbar.ejs'); %>
        <div class="row" style="margin: 5%">
            <div class="col-md-4 offset-md-4">
                <h3 style="text-align: center">Login</h3>
                <form method="get" action="/select/Home">
                    <div class="form-group">
                        <label for="emailLogin">E-mail</label>
                        <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" name="emailLogin">
                        <small id="emailHelp" class="form-text text-muted">Insira o e-mail cadastrado.</small>
                    </div>
                    <div class="form-group">
                        <label for="senhaLogin">Senha</label>
                        <input type="password" class="form-control" id="senhaLogin" name="senhaLogin">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p class="text-danger" style="text-align:center;display: none" id="erroLogin">Dados inválidos.</p>
            </div>
        </div>
        

    </main>

</body>
<%- include('partials/foot.ejs'); %>