<%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="assets/styles/index.css">
<title>Zoológico - Sobre</title>
</head>

<body>
    <%- include('partials/navbar.ejs'); %>
    <h1>Sobre</h1>
    <br>
    <div class="card" style="width: 90%; display: flex; margin: 0% 2% 2% 2%; ">
        <div class="card-body">
            <div>
                <p>Este é um trabalho para a matéria de Banco de Dados I ministrada pelo Prof. Dr. Nilceu Marana e feito
                    pelos
                    alunos:</p>
                <li>João Otávio Ferreira Frediani, RA 181020289 </li>
                <li>Matheus Sinto Novaes, RA 181025981</li>
                <li>Sara Rodrigues Campos, RA 181023822</li>
                <br>
                <p>Trata-se de um sistema para o banco de dados de um Zoológico</p>
            </div>
        </div>
    </div>
        <div class="card" style="width: 90%; display: flex; margin: 2% 2% 2% 2%;">
            <div class="card-body" style="margin: auto;">
                <h4>Minimundo</h4>
                <p>Em um zoológico trabalham funcionários, que deseja-se saber CPF,
                    aniversário, nome, salario, CLT, endereço e conta do banco. Os funcionários podem
                    ser serviços de segurança ou limpeza, bilheteiros, ou veterinários.</p>
                <p>Os bilheteiros cuidam de uma das bilheterias, separadas por número, estas
                    também possuem horário de funcionamento e vendem ingressos que são marcados
                    com valor, data, hora e número individual.</p>
                <p>Os funcionários de serviço de limpeza ou segurança são responsáveis por
                    uma ou mais alas, que possuem código individual, horário de funcionamento,
                    localização e um nome que faz alusão às espécies que ali vivem.</p>
                <p>Os veterinários possuem informação extra de CRMV e universidade de
                    graduação; são responsáveis por supervisionar uma ou mais espécies.</p>
                <p>As espécies são separadas por códigos individuais e deve-se guardar o seu
                    nome popular e científico, seu estado de conservação, hábitos alimentares e uma
                    descrição que vai em frente à sua jaula. Segundo a IUCN (União Internacional para
                    a Conservação da Natureza), o estado de conservação é separado em:</p>
                <li>EX: Extinta;</li>
                <li>EW: Extinta na natureza;</li>
                <li>CR: Criticamente em perigo;</li>
                <li>EN: Em perigo;</li>
                <li>VU: Vulnerável;</li>
                <li>NT: Quase ameaçado;</li>
                <li>LC: Pouco preocupante.</li>
                <p>Os veterinários também tratam os animais em consultas individuais, destas
                    deseja-se saber o código único, a data e o diagnóstico.</p>
                <p>Dos animais, individualmente, deseja-se guardar um código, o sexo, a
                    espécie a qual pertence, e o seu apelido.</p>
                <figure>
                    <img srcset="/assets/modelo_relacional.png" alt="Modelo relacional">
                    <figcaption>Modelo relacional</figcaption>
                </figure>
            </div>
        </div>


        <div class="card" style="width: 90%; display: flex; margin: 0% 2% 2% 2%; ">
            <div class="card-body" style="margin: auto;">
                <p> O trabalho em back-end foi desenvolvido na linguagem Javascript utilizando o framework Node.js e a
                    biblioteca express, para o banco de dados foi utilizada a biblioteca Sequelize para SQLite3, optamos
                    pelo uso da biblioteca pois é muito simples montar e migrar o banco de dados para outra linguagem.
                </p>
                <p>O front-end foi desenvolvido com EJS (HTML5 com Javascript embutido), CSS e Bootstrap</p>
            </div>
        </div>


    </div>

</body>
<%- include('partials/foot.ejs'); %>